    /* font-family: 'Lato', sans-serif; */
    
    @media screen and (max-width: 768px) {
        .wrapper .container {
            width: 100%;
            max-width: 100%;
            padding: 0px 20px;
        }
        .submit_btn {
            width: 100%;
            padding: 0;
        }
        .all_btn {
            flex-direction: column-reverse;
            align-content: flex-end;
            flex-wrap: revert;
        }
        .back_step_btn {
            margin-right: 0px;
        }
        .text_info1 {
            margin-top: 30px;
        }
    }
    
    @media screen and (max-width: 580px) {
        .open_nav span img {
            padding-top: 5px;
        }
        .value_box p {
            font-size: 40px;
            line-height: 70px;
        }
        .submit_btn {
            font-size: 20px;
        }
        .back_step_btn {
            font-size: 20px;
        }
        .valid_voucher_box .icon_info h3 {
            font-size: 25px;
            margin-left: 5%;
        }
    }