    /* font-family: 'Lato', sans-serif; */
    
    * {
        border: none;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .wrapper {
        width: 100%;
        display: inline-block;
    }
    
    header {
        width: 100%;
        display: inline-block;
    }
    
    .header_main {
        display: flex;
        width: 100%;
        padding: 40px 0px;
    }
    
    .logo {
        width: 100%;
    }
    
    .logo img {
        width: 100%;
    }
    
    .login_main {
        width: 100%;
        margin-bottom: 50px;
        display: inline-block;
    }
    
    .page_heading {
        font-family: 'Lato', sans-serif;
        font-size: 35px;
        color: #8F8F8F;
        font-weight: 700;
    }
    
    .form_main label {
        color: #8F8F8F;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 10px;
    }
    
    .form_main input {
        background-color: #D8D8D8;
        border: 1px solid #979797;
        height: 60px;
        width: 100%;
        background-clip: unset;
        border-radius: 0px;
    }
    
    .form_main input:focus,
    .form_main textarea:focus {
        box-shadow: none;
        border: 1px solid #979797;
        background-color: #D8D8D8;
    }
    
    .form_main textarea {
        background-color: #D8D8D8;
        border: 1px solid #979797;
        height: 150px;
        width: 100%;
        background-clip: unset;
        border-radius: 0px;
    }
    
    .form_main .form-group {
        margin-bottom: 40px;
    }
    
    .form_main .form-group select {
        color: #000;
        font-size: 14px;
        background-color: #D8D8D8;
        border: 1px solid #979797;
        height: 60px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background-image: url(../images/Triangle.png);
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: top 20px right 10px;
        padding: 8px 10px;
    }
    
    .form_main .form-group select option {
        background-color: #fff;
        font-size: 16px;
    }
    
    .submit_btn {
        background-color: #6E5AA0;
        padding: 0px 60px;
        font-size: 28px;
        color: #fff;
        font-weight: 700;
        height: 70px;
        line-height: 30px;
        border-radius: 0px;
        border: 0px;
        float: right;
    }
    
    .submit_btn:hover,
    button.submit_btn:active {
        background-color: #6E5AA0;
        border: 0px;
    }
    
    .submit_btn:focus,
    .submit_btn:active {
        border: 0px;
        box-shadow: none;
    }
    /* nav bar */
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    
    .sidenav a {
        padding: 10px 10px 10px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff;
        display: block;
        transition: 0.3s;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
    
    .sidenav a:hover {
        color: #6E5AA0;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 36px;
        margin-left: 50px;
    }
    
    .sidenav .closebtn img {
        width: 40px;
    }
    
    .open_nav {
        display: inline-block;
    }
    
    .open_nav span {
        cursor: pointer;
        margin-top: 0px;
    }
    
    .open_nav span img {
        width: 40px;
        padding-top: 10px;
    }
    
    .all_btn {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    
    .back_step_btn {
        margin-right: 50px;
        color: #6E5AA0;
        font-size: 25px;
        font-weight: 700;
        line-height: 65px;
        text-decoration: underline;
    }
    
    .back_step_btn:hover {
        color: #6E5AA0;
    }
    
    .map_page_main {
        display: inline-block;
        width: 100%;
    }
    
    .map_page_main p {
        color: #8F8F8F;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 10px;
    }
    
    .google_map_main {
        width: 100%;
        display: inline-block;
        margin-bottom: 40px;
    }
    
    .google_map_main img {
        width: 100%;
    }
    
    .custom_redio_btn {
        display: inline-block;
        width: 100%;
        margin: 5px 0px;
    }
    
    .custom_redio_btn [type="radio"]:checked,
    .custom_redio_btn [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    
    .custom_redio_btn [type="radio"]:checked+label,
    .custom_redio_btn [type="radio"]:not(:checked)+label {
        position: relative;
        padding-left: 60px;
        cursor: pointer;
        line-height: 32px;
        display: inline-block;
        color: #8F8F8F;
        font-size: 18px;
    }
    
    .custom_redio_btn [type="radio"]:checked+label:before,
    .custom_redio_btn [type="radio"]:not(:checked)+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 32px;
        height: 32px;
        border: 1px solid #979797;
        border-radius: 100%;
        background: #D8D8D8;
    }
    
    .custom_redio_btn [type="radio"]:checked+label:after,
    .custom_redio_btn [type="radio"]:not(:checked)+label:after {
        content: '';
        width: 16px;
        height: 16px;
        background: #5ABCAE;
        position: absolute;
        top: 8px;
        left: 8px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    .custom_redio_btn [type="radio"]:not(:checked)+label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    .custom_redio_btn [type="radio"]:checked+label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .value_box {
        background-color: #9B9B9B;
        border: 1px solid #9B9B9B;
        display: flex;
        justify-content: space-around;
        margin: 15px 0px;
    }
    
    .value_box p {
        color: #fff;
        font-size: 60px;
        text-align: right;
        margin-bottom: 0px;
        line-height: 100px;
    }
    
    .selected_value {
        background-color: #5ABCAE;
        border: 1px solid #5ABCAE;
    }
    
    .custom-file {
        height: 150px;
    }
    
    .custom-file .custom-file-label {
        background-color: #D8D8D8;
        border: 1px solid #979797;
        height: 150px;
        width: 100%;
        background-clip: unset;
        border-radius: 0px;
    }
    
    .custom-file .custom-file-label::before {
        background-image: url(../images/upload_icon.png);
        content: "";
        width: 65px;
        position: absolute;
        background-repeat: no-repeat;
        z-index: 999;
        height: 85px;
        left: 0;
        right: 0;
        margin: 28px auto;
        cursor: pointer;
    }
    
    .custom-file .custom-file-label::after {
        display: none;
    }
    
    .information_1 h6 {
        width: 100%;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #8F8F8F;
    }
    
    .information_1 p {
        width: 100%;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #8F8F8F;
        text-transform: none;
        line-height: 24px;
    }
    
    .process_fee_info {
        margin-bottom: 30px;
    }
    
    .process_fee_info h3 {
        width: 100%;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: 70px;
        color: #8F8F8F;
        line-height: 60px;
    }
    
    .information_1 h4 {
        font-family: 'Lato', sans-serif;
        font-size: 32px;
        color: #8F8F8F;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    .information_1 {
        margin-bottom: 20px;
    }
    
    .information_1 .custom-control-input:focus~.custom-control-label::before {
        box-shadow: none;
    }
    
    .information_1 .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
    .information_1 .custom-checkbox .custom-control-label::before {
        width: 40px;
        height: 40px;
        border-radius: 0px;
        background-color: #D8D8D8;
        border: 6px solid #979797;
    }
    
    .information_1 .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
        background-image: url(../images/tick.png);
    }
    
    .information_1 .custom-control-label::after {
        width: 40px;
        height: 40px;
        border-radius: 0px;
    }
    
    .text_info1 {
        width: 100%;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        color: #4A4A4A;
        text-transform: none;
        line-height: 24px;
        margin-right: 50px;
    }
    
    .voucher_code,
    .voucher_code::placeholder {
        color: #4A4A4A;
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }
    
    .invalid_voucher_box {
        border: 3px solid #BC5A68;
        background-color: #F2DEE1;
        width: 100%;
        padding: 5%;
    }
    
    .invalid_voucher_box .icon_info {
        width: 25%;
        text-align: center;
        margin: 12% auto;
    }
    
    .invalid_voucher_box .icon_info img {
        width: 100%;
    }
    
    .invalid_voucher_info h3 {
        color: #4A4A4A;
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }
    
    .invalid_voucher_info p {
        color: #4A4A4A;
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        text-align: center;
        line-height: 22px;
    }
    
    .voucher_code_section {
        margin-top: 30px;
    }
    
    .voucher_code_section h6 {
        color: #4A4A4A;
        font-size: 22px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }
    
    .voucher_code_section span {
        color: #4A4A4A;
        font-size: 50px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        display: inline-block;
        line-height: 55px;
    }
    
    .valid_voucher_box {
        border: 3px solid #5ACBAE;
        background-color: #DEF2EF;
        width: 100%;
        padding: 5%;
    }
    
    .valid_voucher_box .icon_info {
        display: inline-block;
        width: 100%;
    }
    
    .valid_voucher_box .icon_info div {
        width: 15%;
        display: inline-block;
    }
    
    .valid_voucher_box .icon_info div img {
        width: 100%;
        display: inline-block;
    }
    
    .valid_voucher_box .icon_info h3 {
        display: inline-block;
        font-size: 35px;
        color: #4A4A4A;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        margin-left: 8%;
    }
    
    .valid_voucher_info {
        margin: 40px 0px;
    }
    
    .valid_voucher_info h3 {
        color: #4A4A4A;
        font-size: 22px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }
    
    .valid_voucher_info span {
        font-size: 120px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        line-height: 120px;
        display: inline-block;
        color: #4A4A4A;
    }
    
    .voucher_expiry_section {
        margin-bottom: 40px;
    }
    
    .voucher_expiry_section h3 {
        color: #4A4A4A;
        font-size: 22px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-align: left;
        margin: 0;
    }
    
    .voucher_expiry_section span {
        font-size: 50px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        line-height: 50px;
        display: inline-block;
        color: #4A4A4A;
    }